/* ---------- 공통 반응형 UI ---------- */


/* ########## 태블릿(1280px) 반응형 ########## */
@media (max-width: 1280px) {
  /* ========== 변수 재정의 ========== */
  :root {
    /* 헤더 높이 값 */
    --header-height: 68px;
    
    /* Padding 값 */
    --section-padding-h: 32px;
    --section-padding-v: 64px;

    /* 유틸리티 버튼 값 */
    --util-btn-offset: 28px;
    --util-btn-size: 56px;
  }

  /* ---------- LAYOUT ---------- */
  /* 스크롤바는 PC에서만 보이게 */
  body::-webkit-scrollbar {
    display: none;
  }
  /* ---------- END - LAYOUT ---------- */


  /* ---------- COMMON ----------  */
  h1, h2 {
    font-size: var(--font-size-2xl);
  }
  h3 {
    font-size: var(--font-size-xl);
  }
  h4 {
    font-size: var(--font-size-large);
  }
  h5 {
    font-size: var(--font-size-medium);
  }
  /* 미니 타이틀 */
  .title-sm {
    letter-spacing: 3px;
  }
  /* ---------- END - COMMON ----------  */

  
  /* ---------- HEADER ----------  */
  /* header-logo */
  .header-logo {
    width: calc(350px / 2.2);
    height: calc(72px / 2.2);
  }

  /* header-gnb */
  .header-gnb {
    display: none;
  }

  /* header-right__tel */
  .header-right__tel {
    width: 38px;
    height: 38px;
    background-image: url(../../images/includes/header-icon-tel.webp);
  }
  /* 다크모드 이미지 교체 */
  [data-theme="dark"] .header-right__tel {
    background-image: url(../../images/includes/header-icon-tel-dark.webp);
  }

  /* header-right__hamburger-btn */
  .header-right__hamburger-btn {
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(../../images/includes/header-icon-hamburger.webp);
    background-size: 100% 100%;
  }
  /* 다크모드 이미지 교체 */
  [data-theme="dark"] .header-right__hamburger-btn {
    background-image: url(../../images/includes/header-icon-hamburger-dark.webp);
  }
  /* ---------- END - HEADER ----------  */


  /* ---------- FOOTER ----------  */
  .footer-inner {
    gap: var(--spacing-32);
  }
  .footer-wrap {
    flex-direction: column;
    gap: var(--spacing-32);
  }

  /* footer-contents */
  .footer-contents {
    font-size: 14px;
    margin-top: 0;
  }

  /* footer-logo */
  .footer-logo {
    width: 174px;
    height: 32px;
  }

  /* footer-info */
  .footer-info {
    margin-top: var(--spacing-32);
  }
  .footer-info__item-text,
  .footer-info__item-list {
    margin-top: var(--spacing-12);
  }

  /* footer-copyright */
  .footer-copyright__text {
    font-size: 12px;
  }
  /* ---------- END - FOOTER ---------- */
}
/* ########## END - 태블릿(1280px) 반응형 ########## */


/* ########## 모바일(768px) 반응형 ########## */
@media (max-width: 768px) {
  /* ========== 변수 재정의 ========== */
  :root {
    /* 헤더 높이 값 */
    --header-height: 56px;

    /* 기본 폰트 사이즈 */
    --font-size-body: 14px;

    /* padding 값 */
    --section-padding-h: 24px;
    --section-padding-v: 48px;

    /* 유틸리티 버튼 값 */
    --util-btn-offset: 20px;
    --util-btn-size: 48px;
  }

  /* ---------- COMMON ----------  */
  input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }
  input[type="checkbox"]:checked::after {
    width: 8px;
    height: 8px;
  }

  /* HEADING */
  h1,
  h2 {
    font-size: var(--font-size-xl);
  }
  h3 {
    font-size: var(--font-size-large);
  }
  h4, h5 {
    font-size: var(--font-size-medium);
  }

  /* 미니 타이틀 */
  .title-sm {
    font-size: 12px;
    letter-spacing: 2px;
  }
  /* ---------- END - COMMON ----------  */


  /* ---------- HEADER ----------  */
  /* header-logo */
  .header-logo {
    width: 33px;
    height: 28px;
    background-image: url(../../images/includes/header-logo-mobile.webp);
  }
  /* 다크모드 이미지 교체 */
  [data-theme="dark"] .header-logo {
    background-image: url(../../images/includes/header-logo-mobile-dark.webp);
  }

  /* header-right__tel */
  .header-right__tel {
    width: 32px;
    height: 32px;
  }

  /* header-right__hamburger-btn */
  .header-right__hamburger-btn {
    display: block;
    width: 32px;
    height: 32px;
  }
  /* ---------- END - HEADER ----------  */


  /* ---------- FOOTER ----------  */
  .footer-inner {
    gap: var(--spacing-24);
  }
  .footer-wrap {
    gap: var(--spacing-24);
  }

  /* footer-link */
  .footer-link {
    gap: var(--spacing-24);
  }

  /* footer-logo */
  .footer-logo {
    width: 131px;
    height: 24px;
  }

  /* footer-info */
  .footer-info {
    margin-top: var(--spacing-24);
  }
  .footer-info__item {
    flex-shrink: 0;
    white-space: nowrap;
  }
  .footer-info__item-text,
  .footer-info__item-list {
    margin-top: var(--spacing-8);
  }

  /* footer-copyright */
  .footer-copyright__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: var(--spacing-4);
    column-gap: var(--spacing-4);
    row-gap: var(--spacing-8);
  }
  /* ---------- END - FOOTER ----------  */


  /* ---------- SIDEBAR ----------  */
  .sidebar-container {
    max-width: 260px;
  }

  /* sidebar-header */
  .sidebar-header {
    padding-bottom: var(--spacing-16);
  }
  .sidebar-header__logo {
    width: 33px;
    height: 28px;
    background-image: url(../../images/includes/header-logo-mobile.webp);
  }

  /* 다크모드 로고 교체 */
  [data-theme="dark"] .sidebar-header__logo {
    background-image: url(../../images/includes/header-logo-mobile-dark.webp);
  }

  /* 사이드바 닫기 버튼 */
  .sidebar-header__close-btn {
    width: 20px;
    height: 20px;
  }

  /* sidebar-gnb */
  .sidebar-gnb {
    max-height: 360px;
    gap: var(--spacing-24);
  }
  .sidebar-gnb__item a {
    font-size: var(--font-size-medium);
  }

  /* sidebar-etc */
  .sidebar-etc {
    gap: var(--spacing-8);
  }
  .sidebar-etc__item span {
    width: 60px;
  }
  /* ---------- END - SIDEBAR ----------  */
}
/* ########## END - 모바일(768px) 반응형 ########## */
