:root {
  /* ############### COLOR ############### */
  /* 공통 색상 */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ca0e25;
  --color-light-gray: #f5f5f5;
  --color-indigo: #19248c;
  --color-gray: #6b6b6b;
  
  /* 테마 컬러 */
  --theme-primary: #19248c;
  --theme-secondary: #4cb9e7;
  --theme-tertiary: #3453c7;
  --color-positive: #048848;
  --color-positive-transparent: rgba(4, 136, 72, 0.1);
  --color-warning: #ffc043;
  --color-negative: #ca0e25;
  --color-negative-transparent: rgba(202, 14, 37, 0.1);

  /* ---------- LIGHT MODE ---------- */
  /* 배경 색상 */
  --bg-primary: var(--color-white);
  --bg-secondary: var(--color-black);
  --bg-tertiary: #eef2fc;
  --bg-text-background: var(--color-light-gray);
  
  
  /* 컨텐츠 색상 */
  --contents-primary: var(--color-black);
  --contents-secondary: #6b6b6b;
  --contents-tertiary: #a6a6a6;

  /* BORDER 색상 */
  --border-opaque: #898989;
  --border-transparent: #8989894d;

  /* BOX-SHADOW */
  --shadow-normal: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-deep: 0 4px 12px rgba(0, 0, 0, 0.2);
  --shadow-deep-hover: 0 8px 16px rgba(0, 0, 0, 0.25);
  --shadow-dark: 0 4px 4px rgba(255, 255, 255, 0.2);
  --shadow-gallery: 0 4px 8px rgba(0, 0, 0, 0.25);
  --drop-shadow-normal: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.1));


  /* ############### SPACING ############### */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-44: 44px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-60: 60px;
  --spacing-64: 64px;
  --spacing-68: 68px;
  --spacing-72: 72px;
  --spacing-76: 76px;
  --spacing-80: 80px;
  --spacing-84: 84px;
  --spacing-88: 88px;
  --spacing-92: 92px;
  --spacing-96: 96px;
  --spacing-100: 100px;


  /* ############### PADDING ############### */
  /* 섹션 공통 Padding */
  --section-padding-h: 64px;
  --section-padding-v: 120px;


  /* ############### LAYOUT ############### */
  /* pc 레이아웃 max-width */
  --max-width-pc: 1400px;

  /* header 높이 값 */
  --header-height: 74px;

  /* 유틸리티 버튼 값 */
  --util-btn-offset: 32px;
  --util-btn-size: 64px;

  
  /* ############### TYPOGRAPHY ############### */
  /* ---------- FONT SIZE ---------- */
  /* Perfect Fourth 적용(1.333배씩 커짐) */
  --font-size-3xl: 3.157rem; /* 50.52px */
  --font-size-2xl: 2.369rem; /* 37.9px */
  --font-size-xl: 1.777rem; /* 28.43px */ 
  --font-size-large: 1.333rem; /* 21.33px */ 
  --font-size-medium: 1rem; /* 16px */
  --font-size-small: 0.75rem; /* 12px */

  /* 기본 폰트 사이즈 */
  --font-size-body: 16px;

  /* ---------- FONT FAMILY ---------- */
  /* 한글 폰트 */
  --font-KR-light: "SC-Dream--light", sans-serif;
  --font-KR-medium: "SC-Dream--medium", sans-serif;
  --font-KR-bold: "SC-Dream--bold", sans-serif;
  --font-KR-heavy: "SC-Dream--heavy", sans-serif;
  
  /* 영문 폰트 */
  --font-EN-medium: "Montserrat--medium", "SC-Dream--medium", sans-serif;
  --font-EN-semi-bold: "Montserrat--semi-bold", "SC-Dream--medium", sans-serif;
  --font-EN-black: "Montserrat--black", "SC-Dream--bold", sans-serif;

  /* 숫자 폰트 */
  --font-number-light: "GmarketSans--light", "SC-Dream--light", sans-serif;
  --font-number-medium: "GmarketSans--medium", "SC-Dream--medium", sans-serif;
  --font-number-bold: "GmarketSans--bold", "SC-Dream--bold", sans-serif;

  /* 배너 헤더 폰트 */
  --font-banner: "NanumMyeongjo--bold", "SC-Dream--bold", serif;

  /* ---------- LINE HEIGHT ---------- */
  --line-height-normal: 1.4; 
  --line-height-medium: 1.5; 
  --line-height-high: 1.6;
}

/* ---------- DARK MODE ---------- */
:root[data-theme='dark'] {
  /* 테마 컬러 */
  --theme-primary: #757cba;
  --color-negative: #df6e7c;

  /* 배경 색상 */
  --bg-primary: var(--color-black);
  --bg-secondary: var(--color-white);
  --bg-text-background: #2b2b2b;

  /* 컨텐츠 색상 */
  --contents-primary: var(--color-white);
  --contents-secondary: #a6a6a6;
  --contents-tertiary: #898989;

  /* BORDER 색상 */
  --border-opaque: #c4c4c4;

  /* BOX-SHADOW */
  --shadow-normal: 0 4px 8px rgba(255, 255, 255, 0.2);
  --shadow-deep: 0 4px 20px rgba(255, 255, 255, 0.3);
  --shadow-deep-hover: 0 8px 24px rgba(255, 255, 255, 0.4);
  --shadow-gallery: 0 4px 8px rgba(255, 255, 255, 0.3);
}